{% extends 'DreamedJobAI/user/base-user.html' %}

{%block content%}
<!-- Content -->
<div class="content">
    {% if user.is_authenticated %}
        <div class="card-profile inner-card "> 
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>

    {% else %}
        <h1> Hi, Guest! Please log in. </h1>
    {% endif %}
</div>

<!-- Sidebar right -->
<div class="d-flex flex-column-right flex-shrink-0" style="width: 30%; height: 85vh;">
    </div>
</div>

{%endblock content%}