{%extends 'DreamedJobAI/inner-page.html'%}

{%block content%}
<!-- ======= Breadcrumbs ======= -->
<section>
	<div class="container">
		<div class="center">
			<form method="post" class="form-signin w-100 m-auto">
				{% csrf_token %}
			<h2 class="text-center h3 mb-3 fw-normal">Password Reset</h2>
			<hr>
			{% for field in form %}
			<div class="form-floating mb-3">
				<input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.auto_id }}" name="{{ field.html_name }}" placeholder="{{ field.label }}" required>
				<label for="{{ field.auto_id }}">{{ field.label }}</label>
			</div>
			{% endfor %}
			<div class="form-container">
				<input type="submit" value="Send" class="form-btn">
				<a href="{%url 'DreamedJobAI:login' %}"  class="form-btn-cancel">Cancel</a>
			</div>
				
			</form>
		</div>
	</div>
		
</section>
{%endblock content%}