{% extends 'DreamedJobAI/user/base-user.html' %}



{% block pic_username %}
    <img src="{{ profile.picture.url }}" alt="Profile" class="rounded-circle">
    <span class="d-none d-md-block dropdown-toggle ps-2">{{ user.username }}</span>
{% endblock pic_username%}



{%block content%}

<div class="pagetitle">
    <h1>Profile</h1>
</div>
<section>
    <div class="p-3 row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="image-cropper mx-auto d-block">
                        <img src="{{ profile.picture.url }}" alt="Profile" class="img-fluid">
                    </div>
                    <h2 class="text-center">{{ user.first_name }} {{ user.last_name }}</h2>
                    
                    <div class="btn-group-vertical text-center m-1" role="group">
                            {% if profile_cv.pdf_file %}
                            <button type="nav-link" class="btn btn-success" data-bs-toggle="tab" data-bs-target="#profile-cv">
                                <i class="bi bi-check-circle me-1"></i> <strong>Step 1:</strong> Submit CV
                            </button>
                            {% else %}
                            <button type="button" class="btn btn-danger">
                                <i class="bi bi-exclamation-octagon me-1"></i> <strong>Step 1:</strong> Submit CV
                            </button>
                            {% endif %}
                        
                        {% if profile_preferences.desired_country %}
                        <button type="button" class="btn btn-success">
                            <i class="bi bi-check-circle me-1"></i> <strong>Step 2:</strong> Choose country
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-danger">
                            <i class="bi bi-exclamation-octagon me-1"></i> <strong>Step 2:</strong> Choose country
                        </button>
                        {% endif %}
                        
                        {% if jobs %}
                        <button type="button" class="btn btn-success">
                            <i class="bi bi-check-circle me-1"></i> <strong>Step 3:</strong> Get your first match!
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-danger">
                            <i class="bi bi-exclamation-octagon me-1"></i> <strong>Step 3:</strong> Get your first match!
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">
                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-preferences">Preferences</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-cv"> CV </button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                        </li>
                    </ul>
                    
                    <div class="tab-content pt-2">
                        <!-- Overview -->
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            <!-- Error messages -->
                            {% if success_password %}
                            <div class="alert alert-success">
                                {{ success_password }}
                            </div>
                            {% elif failure_password %}
                                <div class="alert alert-danger">
                                    {{ failure_password }}
                                </div>
                            {% endif %}

                            {% if success_pdf %}
                            <div class="alert alert-success">
                                {{ success_pdf }}
                            </div>
                            {% elif failure_pdf %}
                                <div class="alert alert-danger">
                                    {{ failure_pdf }}
                                </div>
                            {% endif %}

                            <h5 class="card-title">Profile Details</h5>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label "> Country </div>
                                <div class="col-lg-9 col-md-8"> {{ profile.country }} </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">State</div>
                                <div class="col-lg-9 col-md-8">{{ profile.state }}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Contact Number</div>
                                <div class="col-lg-9 col-md-8">{{ profile.contact_number }}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Linkedin</div>
                                <div class="col-lg-9 col-md-8">{{ profile.linkedin }}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">GitHub</div>
                                <div class="col-lg-9 col-md-8">{{ profile.github }}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Website</div>
                                <div class="col-lg-9 col-md-8">{{ profile.website }}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Other</div>
                                <div class="col-lg-9 col-md-8">{{ profile.other }}</div>
                            </div>
                            
                        </div>
                        <!-- End Overview -->
                        
                        <!-- Edit Profile -->
                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <label for="{{ profile_form.picture.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                    <div class="col-md-8 col-lg-9">
                                        <div class="col-md-6 text-center mb-3">
                                            <img src="{{ profile.picture.url }}" alt="Profile" class="img-fluid img-thumbnail d-block w-50 h-50 border">
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#user-profile-image">
                                                Choose image
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                                                
                                
                                <div class="modal fade" id="user-profile-image" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Choose image</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <input type="file" name="{{ profile_form.picture.name }}" id="{{ profile_form.picture.id_for_label }}" class="form-control-file">
                                            </div>
                                            <div id="modal-footer-local-pdf" class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ profile_form.contact_number.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="contact_number" type="text" class="form-control" id="contact_number" placeholder="{{ profile.contact_number }}" >
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ profile_form.linkedin.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Linkedin</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="linkedin" type="text" class="form-control" id="linkedin" placeholder="{{ profile.linkedin }}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ profile_form.github.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">GitHub</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="github" type="text" class="form-control" id="github" placeholder="{{ profile.github }}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ profile_form.website.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Personal Website</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="website" type="text" class="form-control" id="website" placeholder="{{ profile.website }}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ profile_form.other.id_for_label  }}" class="col-md-4 col-lg-3 col-form-label">Other</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="other" type="text" class="form-control" id="other" placeholder="{{ profile.other }}">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                        <!-- End Profile Edit Form -->
                        
                        <!-- Preferences -->
                        <div class="tab-pane fade profile-edit pt-3" id="profile-preferences">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.about.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">About</label>
                                    <div class="col-md-8 col-lg-9">
                                        <textarea name="about" class="form-control" id="about" style="height: 100px" placeholder="{{ profile_preferences.about }}"></textarea>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.desired_job_title.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Desired Job Title</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="desired_job_title" type="text" class="form-control" id="desired_job_title" placeholder="{{ profile_preferences.desired_job_title }}"> 
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.desired_country.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Desired Country</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ preferences_form.desired_country }}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.desired_country.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Desired Country (Optional)</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ preferences_form.second_desired_country }}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.desired_location.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Desired Location</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ preferences_form.desired_location }}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.desired_job_description.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Desired Job Description</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="desired_job_description" type="text" class="form-control" id="desired_job_description" placeholder="{{ profile_preferences.desired_job_description }}"> 
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.desired_compensation.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Desired Compensation</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ preferences_form.desired_compensation }}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.desired_benefits.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Desired Benefits</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="desired_benefits" type="text" class="form-control" id="desired_benefits" placeholder="{{ profile_preferences.desired_benefits }}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.desired_industry.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Desired Industry</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ preferences_form.desired_industry }}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.desired_start_day.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Desired Start Date</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ preferences_form.desired_start_day }}
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="{{ preferences_form.urgency.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Urgency</label>
                                    <div class="col-md-8 col-lg-9">
                                        {{ preferences_form.urgency }}
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                        <!-- End Preferences -->
                        
                        <!-- CV -->
                        <div class="tab-pane fade pt-3" id="profile-cv">
                            <form method="post" enctype="multipart/form-data" id="cv-form">
                                {% csrf_token %}

                                <div class="container">
                                    <div class="row mt-3">
                                        <div class="col-md-6 text-center mb-3">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chooselocalpdf">
                                                Choose local PDF file
                                            </button>
                                        </div>
                                        <div class="col-md-6 text-center mb-3">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadlinkedin">
                                                Upload your LinkedIn profile
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            {% if profile_cv.pdf_file %}

                                            <a href="{{ user_cv }}" target="_blank" class="btn btn-success btn-md bi bi-check-circle me-1">
                                                Preview CV
                                            </a>
                                            {% else %}
                                            <span class="badge bg-danger fs-6">
                                                <i class="bi bi-exclamation-octagon me-1"></i>No CV has been submitted
                                            </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="chooselocalpdf" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Choose local PDF file</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {% for field in cv_form %}
                                                <div id="form-local-pdf" class="mb-3">                                                
                                                    {% if field.name == 'pdf_file' %}
                                                    <input type="file" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                                    {% elif field.field.widget.input_type == 'file' %}
                                                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                                    {% else %}
                                                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value }}">
                                                    {% endif %}
                                                </div>
                                                {% endfor %}
                                                <div id="loading" class="d-none text-center">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                    <p>Submitting & summarizing CV...</p>
                                                    <p>This might take a minute. Please do not refresh the page.</p>
                                                </div>
                                            </div>
                                            <div id="modal-footer-local-pdf" class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="uploadlinkedin" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Upload your LinkedIn profile</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div id="img-linkedin-pdf" class="container">
                                                    <p class="mb-3"> <strong>Step 1:</strong> If you haven't already, save your LinkedIn profile as a PDF. Here's how:</p>
                                                    <img src="{{ image_url }}" alt="LinkedIn Upload PDF" class="img-fluid">
                                                    <p class="m-3"> <strong>Step 2:</strong> Upload the PDF file below:</p>
                                                </div>
                                                {% for field in cv_form %}
                                                <div id="form-linkedin-pdf" class="mb-3">

                                                    {% if field.name == 'pdf_file' %}
                                                    <input type="file" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                                    {% elif field.field.widget.input_type == 'file' %}
                                                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                                                    {% else %}
                                                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value }}">
                                                    {% endif %}
                                                </div>
                                                {% endfor %}
                                                <div id="loading-2" class="d-none text-center">
                                                    <div class="spinner-border text-primary" role="status">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div>
                                                    <p>Submitting & summarizing CV...</p>
                                                    <p>This might take a minute. Please do not refresh the page.</p>
                                                </div>
                                            </div>
                                            <div id="modal-footer-linkedin" class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" id="submit-button-2" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            {% if success_pdf %}
                            <div class="alert alert-success">
                                {{ success_pdf }}
                            </div>
                            {% elif failure_pdf %}
                                <div class="alert alert-danger">
                                    {{ failure_pdf }}
                                </div>
                            {% endif %}

                        </div><!-- End CV -->

                        <!-- Change Password -->
                        <div class="tab-pane fade profile-edit pt-3" id="profile-change-password">
                            <form method="post">
                                {% csrf_token %}

                                <div class="row mb-3">
                                    <label for="{{ password_form.old_password.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="old_password" type="password" class="form-control" id="old_password">
                                    </div>
                                </div>
                                
                                <div class="row mb-3">
                                    <label for="{{ password_form.new_password1.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="new_password1" type="password" class="form-control" id="new_password1">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="{{ password_form.new_password2.id_for_label }}" class="col-md-4 col-lg-3 col-form-label">Confirm New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="new_password2" type="password" class="form-control" id="new_password2">
                                    </div>
                                </div>

                                {% if success_password %}
                                    <div class="alert alert-success">
                                        {{ success_password }}
                                    </div>
                                {% elif failure_password %}
                                    <div class="alert alert-danger">
                                        {{ failure_password }}
                                    </div>
                                {% endif %}

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form>
                        </div><!-- End Change Password -->
                    </div><!-- End Bordered Tabs -->
                </div>
            </div>
        </div><!-- End main grid -->
    </div><!-- End row -->
</section>
{%endblock content%}


