{% extends 'DreamedJobAI/user/base-user.html' %}

{%block content%}
<!-- Content -->
<div class="content">
    {% if user.is_authenticated %}
        <div class="profile-container">
            <div class="card-profile inner-card">
                    <img id="user_pp" src="{{ profile.picture.url }}" alt="Profile Picture" class="img-fluid img-thumbnail rounded-circle mx-auto d-block w-50 h-50" >
                    <h2>{{ user.first_name }} {{ user.last_name }}  </h2>
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="card-profile right">
                <!-- Sidebar -->
                <nav id="navbar" class="navbar">
                    <ul>
                        <li>
                            <a href="{% url 'DreamedJobAI:profile-user' %}" class="sunken-btn {% if request.resolver_match.url_name == 'profile-user' %}active{% endif %}" aria-current="page" title="Edit" data-bs-toggle="tooltip" data-bs-placement="right">
                                <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Edit"><use xlink:href="#edit"/></svg>
                                </a>
                        </li>
                        <li>
                            <a href="{% url 'DreamedJobAI:home-user' %}" class="sunken-btn {% if request.resolver_match.url_name == 'home-user' %}active{% endif %}" aria-current="page" title="Home" data-bs-toggle="tooltip" data-bs-placement="right">
                            <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Home"><use xlink:href="#home"/></svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link py-3 border-bottom rounded-0 sunken-btn" title="Orders" data-bs-toggle="tooltip" data-bs-placement="right">
                            <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Orders"><use xlink:href="#table"/></svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link py-3 border-bottom rounded-0 sunken-btn" title="Products" data-bs-toggle="tooltip" data-bs-placement="right">
                            <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Products"><use xlink:href="#grid"/></svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link py-3 border-bottom rounded-0 sunken-btn" title="Dashboard" data-bs-toggle="tooltip" data-bs-placement="right">
                            <svg class="bi pe-none" width="24" height="24" role="img" aria-label="Customers"><use xlink:href="#speedometer2"/></svg>
                            </a>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    {% else %}
        <h1> Hi, Guest! Please log in. </h1>
    {% endif %}
</div>

<!-- Sidebar right -->

{%endblock content%}