{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Summarised CV</title>
    <link rel="stylesheet" href="{% static 'DreamedJobAI/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Summarised CV</h1>
        <div class="summary">
            <p>{{ summarised_cv }}</p>
        </div>
        <a class="btn btn-primary cta" href="{% url 'DreamedJobAI:submit_pdf' %}">Upload another CV</a>
        <a href="{%url 'DreamedJobAI:home'%}"><i class="bi bi-house-fill"></i> Home</a>
    </div>
</body>
</html>